qdrant-client
pdfplumber
openai
requests
tiktoken
python-dotenv
numpy
langchain
langchain-openai
langchain-community
sentence-transformers
langchain-huggingface
langchain-experimental
faiss-cpu
qdrant-clien
docling
transformers
pydantic
