langchain
langchain-openai
langchain-community
sentence-transformers
langchain-huggingface
langchain-experimental
faiss-cpu
numpy
sentence-transformers
qdrant-client
docling
transformers
pdfplumber
